<ul class="list-group pt-3">
    {% for post in posts %}
    <li class="list-group-item list-group-item-action list-group-item-secondary flex-column align-items-start"
        onclick="window.location.href='{{ url_for('module002.module002_post_comments', id=post.id) }}'">
          <div class="card-body">
            <h5 class="card-title">
                <div class="d-flex w-100 justify-content-between">
                    <h5>{{ post.title }}</h5><small>{{ post.timeago }}</small>
                </div>
                <small>
                Posted by <a href="url_for('.user', username=post.author.username)">{{ post.author.username }}</a>
                </small>
            </h5>
        {% if post.body_html %}
            <p class="card-text" style="white-space:pre-wrap">{{- post.body_html | safe -}}</p>
        {% else %}
            <p class="card-text" style="white-space:pre-wrap">{{- post.body -}}</p>
        {% endif %}
            {% if current_user == post.author %}
            <a href="{{ url_for('module002.module002_edit_post', id=post.id) }}">
                <span class="label label-primary">Edit</span>
            </a>
            {% elif current_user.profile == 'teacher'%}
            <a href="{{ url_for('module002.module002_edit_post', id=post.id) }}">
                <span class="label label-danger">Edit [Admin]</span>
            </a>
            {% endif %}
            <a href="{{ url_for('module002.module002_post_comments', id=post.id) }}">
                <span class="label label-primary">{{ post.comments.count() }} Comments</span>
            </a>
          </div>
        </li>
    </li>
    {% endfor %}
</ul>