{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="d-flex justify-content-center p-3">
    <a class="btn btn-primary" href={{url_for('module002.module002_new_post', forum_id=forum.id)}}>New Post</a>
</div>
<div class="forum">
    <div class="forum-thumbnail">
        <a href="url_for('.user', username=forum.author.username)">
            <img class="img-rounded profile-thumbnail" src="">
        </a>
    </div>
    <div class="forum-content jumbotron">
        <div class="d-flex align-items-center justify-content-between w-100">
                <h2>{{ forum.title }}</h2> · <small>{{ forum.timeago }}</small>
        </div>
    <hr class="my-4">
        <div class="lead post-author">
            <p class="row">
                <small>Posted by <a href="url_for('.user', username=post.author.username)"> {{ forum.author.username }}</a></small>
            </p>
            <div class="row">
            {% if forum.course %}
                <b>{{ forum.course.name }}</b>
            {% else %}
                <b>{{ "This forum has no course related to it" }}</b>
            {% endif %}
            </div>
        </div>
        <div class="forum-course container">
    {% include 'module002_posts.html' %}
        </div>
    </div>
</div>
{% endblock %}