<ul class="list-group">
    {% for post in posts %}
    <li class="list-group-item list-group-item-action list-group-item-secondary flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><a href="url_for('.user', username=post.author.username)">{{ post.author.username }}</a></h5>
            <small>{{ post.timeago }}</small>
          </div>
          <div class="card-body">
            <h5 class="card-title">
                <div class="post-title">
                    <a href={{ url_for('module002.module002_post_comments', id=post.id) }}>{{ post.title }}</a>
                </div>
            </h5>
            <p class="card-text">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </p>
            {% if current_user == post.author %}
            <a href="url_for('.edit', id=post.id)">
                <span class="label label-primary">Edit</span>
            </a>
            {% elif current_user.profile == 'teacher' %}
            <a href="url_for('.edit', id=post.id)">
                <span class="label label-danger">Edit [Admin]</span>
            </a>
            {% endif %}
            <a href="url_for('.post', id=post.id)">
                <span class="label label-default">Permalink</span>
            </a>
            <a href="{{ url_for('module002.module002_post_comments', id=post.id) }}">
                <span class="label label-primary">{{ post.comments.count() }} Comments</span>
            </a>
          </div>
        </li>
    </li>
    {% endfor %}
</ul>