<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="es"{% endblock %}
{% block html %}
{% block head %}
    {{ super() }}
    <title> U-TAD </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
        {{super()}}
            <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" rel="stylesheet"/>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      {% endblock %}
  {% endblock %}
{% block body %}
  {% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">U-TAD</a>
        </div>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="nav navbar-nav justify-content-around me-auto mb-2 mb-lg-0">
            {% if current_user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link {% if module=='home' %}{{ "active" }}{% else %}{% endif %}" href="/">Home</a></li>

                  {% if current_user.profile in ('admin','staff','student') %}
                      <li class="nav-item"><a class="nav-link {% if module=='module001' %}{{ "active" }}{%else%}{%endif%}" href="/course">Course</a></li>
                      <li class="nav-item"><a class="nav-link {% if module=='module002' %}{{ "active" }}{%else%}{%endif%}" href="/board">Discussion Board</a></li>
                      <li class="nav-item"><a class="nav-link {% if module=='module003' %}{{ "active" }}{%else%}{%endif%}" href="/assignment">Assignment</a></li>
                  {% endif %}
                  {% if current_user.profile in ('admin') %}
                      <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
                  {% endif %}

            {% else %}
                  <li class="nav-item"><a class="nav-link {% if module=='home' %}{{ "active" }}{%else%}{%endif%}" href="/">Home</a></li>
                  <li class="nav-item"><a class="nav-link {% if module=='login' %}{{ "active" }}{%else%}{%endif%}" href={{url_for('login')}}>Login</a></li>
                  <li class="nav-item"><a class="nav-link {% if module=='signup' %}{{ "active" }}{%else%}{%endif%}" href={{url_for('signup')}}>Register</a></li>
            {% endif %}

                <li class="nav-item nav-"> <a class="nav-link" href={{url_for('logout')}}>Logout</a></li>
            </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                {{message}}
            </div>
        {% endfor%}
    </div>


    <div class="container">
    {% block content %} {% endblock %}
    </div>

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>

	<script>
		$(document).ready(function() {
			$('#myTable').DataTable({
			    "colReorder": true,
			    responsive: true,
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
			});
		} );
    </script>
{% endblock %}
    {% block scripts_next %}{% endblock %}
{% endblock %}
{% endblock %}
