{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container-fluid">
      <ul class="list-group">
          <li class="list-group-item list-group-item-secondary list-group-item-action">
              <a href={{url_for('module001.module001_index')}}>Home</a></li>
              {% if current_user.profile in ('professor', 'admin', 'staff') %}
          <li class="list-group-item list-group-item-secondary list-group-item-action">
              <a href={{url_for('module001.module001_course')}}>Create</a></li>
              {% endif %}
          <li class="list-group-item list-group-item-secondary list-group-item-action">
              <a href={{url_for('module001.module001_follow')}}>Following</a></li>
          <li class="list-group-item list-group-item-secondary list-group-item-action">
              <a href={{url_for('module001.module001_unfollow')}}>Unfollowing</a></li>
              {% if current_user.profile in ('professor', 'admin', 'staff') %}
          <li class="list-group-item list-group-item-secondary list-group-item-action">
              <a href={{url_for('module001.module001_participation_generate')}}>Participation</a></li>
              {% endif %}
          <li class="list-group-item list-group-item-secondary list-group-item-action">
              <a href={{url_for('module001.module001_participation_redeem')}}>Redeemed</a></li>
      </ul>
    </div>
    {% block subcontent %}{% endblock %}
{% endblock %}
